# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\calm3\Documents\sit_dev\3rd_2s\KodojohoEnshu2b\group2\YoutubeAutoComment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
